<form action="/auth/login" method = "POST">
    <div class = "form-group">
        <label for="authEmail">Email</label>
        <input type="email" id = "authEmail" class="form-control" name = "email">
    </div>
    <div class = "form-group">
        <label for="authPassword">Password</label>
        <input type="password" id ="authPassword" class = "form-control" name = "password">
    </div>
    <input class = "btn" type="submit">
</form>